#nav_bar
  = image_tag('title_leaderboard.png')
#stat_select
  #clinic.stat_icon
    = image_tag('icon_clinic.png')
  #city.stat_icon
    = image_tag('icon_city.png')
  #country.stat_icon
    = image_tag('icon_country.png')
#stat_divide
#clinic_stats.stat_set
  = render 'leaderboard/stat_line', stats: @clinic_stats
#city_stats.stat_set
  = render 'leaderboard/stat_line', stats: @city_stats
#country_stats.stat_set
  = render 'leaderboard/stat_line', stats: @country_stats