%h1 Home

%p
  Logged in
  - if current_user.name
    as
    = current_user.name
  - if current_user.email
    = "(#{current_user.email})"
  - if current_user.blood_type
    = "[#{current_user.blood_type}]"

- unless current_user.email
  %p
    = form_for current_user, url_for: {action: 'update'} do |user_form|
      = user_form.label :email
      = user_form.text_field :email
      = user_form.submit 'Update'
- unless current_user.blood_type
  %p
    = form_for current_user, url_for: {action: 'update'} do |user_form|
      = user_form.label :blood_type
      = user_form.select :blood_type, options_for_select(['O+', 'O-', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-'])
      = user_form.submit 'Update'
- if current_user.can_donate?
  = link_to 'Donate', donate_path(latitude: -79.0, longitude: 43.0)

- if session[:provider] == 'facebook'
  = link_to 'Sign out', signout_facebook_path
- if session[:provider] == 'twitter'
  = link_to 'Sign out', signout_twitter_path