#user_info

  %h1
    Welcome
    - if current_user.name
      = current_user.name
    - if current_user.blood_type
      = "[#{current_user.blood_type}]"

  - unless current_user.email
    %p
      = form_for current_user, url_for: {action: 'update'} do |user_form|
        = user_form.label :email
        = user_form.text_field :email
        = user_form.submit 'Update'
  - unless current_user.blood_type
    %p
      = form_for current_user, url_for: {action: 'update'} do |user_form|
        = user_form.label :blood_type
        = user_form.select :blood_type, options_for_select(['O+', 'O-', 'A+', 'A-', 'B+', 'B-', 'AB+', 'AB-'])
        = user_form.submit 'Update'

  - if current_user.can_donate?
    = link_to 'DONATE', donate_path(longitude: 43.6475898, latitude: -79.3849767)
  - else
    %p
      = "You can donate again in #{pluralize(current_user.days_until_can_donate, "day")}"

  - if @achievement.pints_count > 0
    %p
      = "Donated: #{pluralize(@achievement.pints_count, "pint")}"
      %br
      = "Saved: #{@achievement.people_saved} lives"

  - if !@achievement.message.blank?
    %p
      = @achievement.in_app_message

  - if session[:provider] == 'facebook'
    = link_to 'SIGN OUT', signout_facebook_path
  - if session[:provider] == 'twitter'
    = link_to 'SIGN OUT', signout_twitter_path
