= image_tag('logo_drip.png', id: 'logo')

#sign_up
  = image_tag('title_catch_phrase.png')
  = image_tag('button_sign_up.png')

  #social_login
    = link_to image_tag('social_facebook.png'), signin_facebook_path
    = link_to image_tag('social_twitter.png'), signin_twitter_path
