<!DOCTYPE html>
<html>
<head>
  <title>Drip - Leaderboard</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag "leaderboard" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "leaderboard" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
